body{
    margin: 0;
    padding:0;
    background-color:grey;
    
 
        
}

.madiv{
    border:1px solid black;
    height: 500px;
    margin-left:20% ;
    margin-right: 20%;
    margin: 10% 20%;
    border-radius: 10px;
    background: linear-gradient(to right, green, yellow,red);
   
}

.men{
    /* border:1px solid rgb(7, 7, 7); */
    /* border-radius: 10px; */
    
}

li{
    display: inline-block;
    margin: 0px 10px;
    padding: 10px;
}

a:hover{
    color: green;
    font-size: larger;
    border:1px solid green;
    border-radius: 10px;
    padding: 10%;
  
   }

a{ text-decoration: none;
}